//Login
.not-logged-in {
  background: url(img/bg-login.jpg) top center repeat-x #002957;
  padding: 20px;
  .logo-home {
    padding: 20px 0;
    text-align: center;
    @include breakpoint('medium') {
      text-align: left;
      padding: 40px 0;
    }
  }
  .breadcrumbs {
    display: none;
  }
  .footer-wrapper {
    background: none;
  }
  .logo {
    display: none;
  }
  .l-main {
    text-align: center;
    padding: 60px 4px;
    @include breakpoint('medium') {
      padding: 60px 100px;
    }
    form#user-login {
      padding: 0 0%;
      @include breakpoint('medium') {
        padding: 0 25%;
      }
    }
    label {
      text-align: left;
      color: $white;
      margin-bottom: 6px;
    }
    .description {
      display: none;
    }
  }
  .header {
    border-bottom: 1px solid #6d859f;
    width: 100%;
    padding-bottom: 43px;
  }
  ul.button-group {
    display: none;
  }
<<<<<<< HEAD
=======
  .panel {
    display: none;
  }
  .footer-wrapper {
    padding: 20px 0;

    color: $white;
    font-family: "Open Sans";
    p {
      font-size: 0.7em;
    }
    h2 {
      text-transform: uppercase;
      font-family: $font-bold;
      font-size: 0.8em;
      color: $white;
    }
  }
>>>>>>> 11c8db14bcb86b8117eef097654566347cd6adb9
}

.intro {
  h3 {
    text-transform: uppercase;
    font-family: $font-regular;
    color: $white;
  }
  h1 {
    font-family: $font-bold;
    color: $white;
    font-size: 2em;
    letter-spacing: -1px;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    @include breakpoint('medium') {
      font-size: 4em;
    }
  }
  p {
    color: $white;
    font-size: 0.9em;
    @include breakpoint('medium') {
      font-size: 1.3em;
    }
  }
}

button.secondary, .button.secondary {
  background-color: rgba(119, 119, 119, 0.1);
  border-color: #00a1f5;
  border: 3px solid #00a1f5;
  color: $white;
  text-transform: uppercase;
  font-family: $font-regular;
  &:hover {
    color: $white;
  }
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #00a1f5;
}

//Home
.logged-in {
  .panel {
    display: none;
  }

  .footer-wrapper {
    padding: 20px 0;
    background: url(img/footer.jpg) top center repeat-x #002957;
    color: $white;
    font-family: "Open Sans";
    p {
      font-size: 0.7em;
    }
    h2 {
      text-transform: uppercase;
      font-family: $font-bold;
      font-size: 0.8em;
      color: $white;
    }
  }

  .header-wrapper {
    background: url(img/header.jpg) top center repeat-x #002957;
    .logo-home {
      padding: 20px 0;
      text-align: center;
      @include breakpoint('medium') {
        text-align: left;
        padding: 40px 0;
      }
    }
    .title {
      text-transform: uppercase;
      border-top: 1px solid #6d859f;
      padding: 10px 0;
      p {
        font-family: $font-bold;
        font-size: 1.4em;
        color: $white;
        text-align: center;
        @include breakpoint('medium') {
          font-size: 2.2em;
          text-align: left;
        }
      }
    }
    #secondary-menu {
      float: right;
      font-family: "Open Sans";
      font-style: italic;

      ul {
        list-style: none;
        text-align: right;
        margin-top: 0%;
        @include breakpoint('medium') {
          margin-top: -140%;
        }

        .menu-2 {
          display: none;
        }
        li.menu-15 {
          a {
            color: #00a1f5;
            font-size: 0.9em;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}

//General
body, p {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;;
}

//Grilla proyectos

.proyectos-list {
  padding: 60px 0;
  font-size: 0.9em;
  color: #666;
  .views-row {
    margin-bottom: 60px;
    .views-field-field-logo {
      float: left;
      padding: 0 12px 0 0;
    }
    .views-field-title {
      font-family: $font-regular;
      text-transform: uppercase;
      a {
        color: $black;
        &:hover {
          color: #00a1f5;
        }
      }
    }
    .views-field-field-valor {
      color: #00a1f5;
    }

  }
}

//Alertas
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: normal;
  margin: 10px 0rem;
  position: relative;
  padding: 0.4rem;
  font-size: 0.7em;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF;
  li {
    font-size: 0.8em;
  }
}

//Interna
.node-type-proyecto {
  .logo {
    display: none;
  }
  .l-header {
    background: url(img/header.jpg) top center repeat-x #002957;
    .logo-home {
      padding: 20px 0;
      text-align: center;
      @include breakpoint('medium') {
        text-align: left;
        padding: 40px 0;
      }
    }
  }
  .title {
    text-transform: uppercase;
    border-top: 1px solid #6d859f;
    padding: 10px 0;
    p {
      font-family: $font-bold;
      font-size: 1.4em;
      color: $white;
      text-align: center;
      @include breakpoint('medium') {
        font-size: 2.2em;
        text-align: left;
      }
    }
  }
  #secondary-menu {
    float: right;
    font-family: "Open Sans";
    font-style: italic;

    ul {
      list-style: none;
      text-align: right;
      position: absolute;
      top: 10%;
      right: 4%;
      @include breakpoint('medium') {
        top: 20%;
        right: 20%;
      }

      .menu-2 {
        display: none;
      }
      li.menu-15 {
        a {
          color: #00a1f5;
          font-size: 0.9em;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

//Pagina detalle
.section-proyectos{
  margin: 20px 0;
  .field-name-field-logo{
    float: left;
    margin: 0 14px 10px 0;
  }
  h3{
    text-transform: uppercase;
    font-family: $font-regular;
  }
  .field-name-field-valor{
    color: #00a1f5;
  }
  .field-name-field-introducci-n{
    font-style: italic;
    color: #666;
    font-size: 1.2em;
    margin:40px 0;
  }
  p{

  }
  .field-name-field-documentos-anexos{
    span.file {
      display: block;
      margin-bottom: 10px;
    }
  }
  .views-label-field-documentos-anexos{
    font-family: $font-regular;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .cboxElement{
    margin-bottom: 18px;
  }
}
.breadcrumbs{
  background-color: $white;
  border:none;
  margin: 10px 0;
}